@import "tailwindcss";

@source "../node_modules/@gentleduck/registry-ui-duckui/src/";
@source "../node_modules/@gentleduck/registry-blocks-duckui/src/";
@source "../node_modules/@gentleduck/registry-examples-duckui/src/";
@source "../node_modules/@gentleduck/docs/src/";
@source "../node_modules/@gentleduck/lazy/src/";
@source "../../../packages/_oldstuff_refactor/ui/";
@source "../node_modules/@gentleduck/motion/src/";

@import "@gentleduck/docs/styles/docs.css";
@import "./themes.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --animate-shine: shine 8s ease-in-out infinite;

  @keyframes shine {
    from {
      background-position: 200% 0;
    }

    to {
      background-position: -200% 0;
    }
  }
}

@layer base {
  * {
    @apply border-border font-medium;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }

  html {
    @apply scroll-smooth;
  }

  .font-sans {
    font-family: var(--font-geist-sans, "Montserrat"), sans-serif !important;
  }

  .font-mono {
    font-family: var(--font-geist-mono, "Geist Mono"), monospace !important;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 5px;
  }

  ::selection {
    color: var(--selection-foreground);
    background-color: var(--selection);
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    [data-wrapper] {
      @apply min-[1800px]:border-t;
    }
  }

  image {
    user-select: none;
  }

  a:active,
  button:active {
    @apply opacity-60 md:opacity-100;
  }
}

@utility duck-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
