@layer components {
  code,
  code > * > *,
  kbd,
  samp,
  pre {
    font-family: var(--font-mono);
    font-style: normal;
    font-optical-sizing: auto;
  }

  [data-theme="light"] {
    display: block;
  }

  [data-theme="dark"] {
    display: none;
  }

  .dark [data-theme="light"] {
    display: none;
  }

  .dark [data-theme="dark"] {
    display: block;
  }
}
